.tasks {
  background-color: tan;
}

.brainDump {
  background-color: thistle;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
}

.questions {
  background-color: plum;
}

.references {
  background-color: powderblue;
  grid-row: span 2;
}

#app {
  background-color: peru;
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

div.DraftEditor-root {
  height: 100%;
  overflow: auto;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
}
